.env
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.env
# Bỏ qua môi trường ảo
venv/
ENV/
env/
.venv/

# File cấu hình môi trường
.env

# Cache Python
__pycache__/
*.py[cod]
*.sqlite3

# IDE files
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# PostgreSQL config hoặc dump
*.sql
*.dump

#dataset
*.csv
backend/ai/baseline/__init__.py
backend/ai/models/__init__.py
backend/ai/training/__init__.py
frontend/package-lock.json
collected_data/code_diffs.json
backend/ai/data_preprocessing/__init__.py
backend/ai/evaluation/__init__.py
